* {
margin:0px;
padding:0px;
}
body {
background-image:url('bxott.png');
background-position:bottom;
background-repeat:repeat-x;
background-color:white;
background-attachment:fixed;
color:black;
}
label {
display:block;
}
#all {
padding-top:40px;
position:relative;
background-color:transparent;
font-family: Verdana,sans-serif;
font-size:1em;
margin-left:2%;
margin-right:2%;
border-top:1px dotted white;
}
#content {
height:auto;
padding:1%;
width:98%;
}
#content a {
color:#8A9BC4;
text-decoration:none;
border-bottom: 1px dotted #8A9BC4;
}
#content a:hover {
color:red;
border-bottom-color: black;
}
#search_list {
overflow:auto;
}
.search_item {
float:left;
width:46%;
padding:1%;
margin:1%;
height:150px;
background-color:white;
}
.search_item h2, #entry h1,#comments h2,#comments h1{
font-family: "Trebuchet MS", sans-serif;
font-weight:normal;
}
#comments {
margin-top:15px;
margin-left:30px;
}
#content .search_item h2 a, #entry h1 a, #comments h2 a,#comments h1 a{
display:block;
color:#3B589C;
border-bottom: 1px dotted #8A9BC4;
}
#content .search_item h2 a:hover, #entry h1 a:hover,#comments h2a:hover,#comments h1 a:hover{
color:#8A9BC4;
}
.search_item address span.comments {
}
.search_item p {
padding-left:10px;
}
.search_item address {
margin-top:3px;
border-top:1px dotted #8A9BC4;
font-size:0.75em;
font-style:normal;
font-family:Tahoma,sans-serif;
background-color:#F9FAFF;
}
#entry h2 {
display:none;
}
#entry address {
clear:both;
display:block;
}
#entry p {
background-color:#F9FAFF;
border-bottom:1px dotted #8A9BC4;
padding:5px;
padding-left:15px;
font-size:1.2em;
font-family:Tahoma,sans-serif;
}
#entry #entry_content {
margin-top:15px;
padding:0px;
}
#entry pre {
float:right;
overflow:visible;
width:93%;
}
#entry #lines {
float:left;
width:5%;
margin-left:1%;
}
#entry pre, #entry #lines {
font-size:18px;
font-family:Courier;
line-height:1.2em;
}
#menu {
position:absolute;
top:0px;
height:40px;
display:block;
margin-left:1%;
margin-right:1%;
background-color:#8A9BC4;
width:98%;
}
#menu ul {
list-style-type:none;
display:block;
height:40px;
}
#menu li {
height:40px;
float:left;
}
#menu li a {
display:block;
padding-top:10px;
font-size:20px;
font-family: "Trebuchet MS", sans-serif;
color:black;
text-decoration:none;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
}
#menu li a:hover {
color:white;
background-color:#DFE5F5;
}
.comment_item {
margin-top:5px;
margin-bottom:5px;
margin-right:20%;
margin-left:5%;
background-color:#F9FAFF;
}
.comment_item p {
font-size:1.2em;
padding:7px;
}
.comment_item address {
border-top:1px dotted black;
margin-top:2px;
padding:3px;
font-family:Tahoma, sans-serif;
font-size:0.8em;
}
#f_name input, #f_subject input, #f_category select {
font-family:Tahoma,sans-serif;
width:300px;
border:1px solid #8A9BC4;
background-color:#F9FAFF;
color:black;
font-size:1.2em;
}
#f_description textarea, #f_content textarea {
width:700px;
font-family:Tahoma,sans-serif;
border:1px solid #8A9BC4;
background-color:#F9FAFF;
color:black;
font-size:1em;
}
#newentry .button {
font-family:Tahoma,sans-serif;
border:1px solid #8A9BC4;
background-color:#F9FAFF;
color:black;
font-size:1.2em;
font-weight:bold;
margin-top:5px;
padding-left:20px;
padding-right:20px;
padding-top:10px;
padding-bottom:10px;
}