#nav {
list-style-type:none;
margin:0px;
padding:0px;
background-color:#8A9BC4;
display:block;
clear:both;
overflow:hidden;
width:100%;
height:100%;
border:1px solid #8A9BC4;
}
#nav li {
float:left;
margin:0px;
padding:0px;
}
#nav li a {
display:block;
background-color:#8A9BC4;
font-family:Trebuchet MS, sans-serif;
color:white;
text-decoration:none;
border-bottom:0px;
margin:0px;padding:0px;
font-size:20px;
padding-top:13px;
padding-bottom:13px;
padding-left:15px;

padding-right:10px;
}
#nav li a:hover {
color:black;
}
.clear { clear:both; }
.clear1 { clear:both;display:block;height:1px; }
#content { background-color:#F9FAFF;clear:both;padding:1.5%; }
body { margin:0px;padding:0px;font-family:"Bitstream Vera Sans", Verdana, sans-serif;font-size:13px; }
h1 { display:none; }
a {
color:#8A9BC4;
text-decoration:none;
border-bottom: 1px dotted #8A9BC4;
}
dl { margin:0px;padding:0px; }
p#footer { padding:10px;margin:5px; }
